.genre-dropdown select {
  height: 28px;
  width: 150px;
}

.no-video-message {
  font-size: 1.5rem;
  text-align: center;
  line-height: 200px;
  vertical-align: middle;
  color: #555;
}

.current-video-container {
  height: 275px;
}

.current-video-thumbnail {
  height: 275px;
}

.current-video-name {
  text-align: left;
  float:left;
}

.current-video-genre {
  text-align: right;
  float:right;
}

.next-video-button {
  width: 350px;
  display: block;
  margin: 30px auto;
}

.seen-video-table td {
  height: 50px;
}

.seen-thumbnail {
  width: 100px;
}