<div class="container">
  <div class="row">

    <div class="four columns">
      <h3>VIDEOSMASH</h3>

      <div class="genre-dropdown">
        Genre:
        <select [(ngModel)]="selectedGenreId" (ngModelChange)="onGenreSelect(selectedGenreId)">
          <option [ngValue]="null">-- Please select --</option>
          <option *ngFor="let genre of allGenres" [value]="genre.id">
            {{ genre.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="eight columns">

      <h5>Currently Watching</h5>

      <div *ngIf="randomVideo; else noVideoContainer">
        <div id="current-video-container">
          <div class="current-video-thumbnail" [style.background-color]="randomVideo.color"></div>
          <div class="current-video-name">
            {{ randomVideo.name }}
          </div>
          <div class="current-video-genre">
            {{randomVideo.genre.name}}
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
      <ng-template #noVideoContainer>
        <div class="no-video-message">{{ noVideoMessage }}</div>
      </ng-template>

      <button [disabled]="!isNextButtonEnabled" class="next-video-button" (click)="onClickNextVideoButton()">Next New Video</button>

      <h5>Previously Viewed</h5>
      <div *ngIf="seenVideosForGenre && seenVideosForGenre.length; else noSeenVideosContainer">
        <table class="seen-video-table">
          <tr *ngFor="let seenVideo of seenVideosForGenre.slice().reverse()">
            <td class="seen-thumbnail" [style.background-color]="seenVideo?.color"></td>
            <td>{{seenVideo?.name}}</td>
            <td>({{seenVideo?.genre.name}})</td>
            <td>{{seenVideo?.viewed | date: 'medium'}}</td>
          </tr>
        </table>
      </div>
      <ng-template #noSeenVideosContainer>
          <div class="no-video-message">You have not seen any videos in this genre</div>
        </ng-template>
    </div>

  </div>
</div>
